<!DOCTYPE html>
<html>
    <head>
        <title>Kwiksure - Rule Setting Panel</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/normalize.css" rel="stylesheet" type="text/css"/>
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
        <link href="css/css-v2.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <nav class="clearfix">
            <ul>
                <li><a href="">Logout</a></li>
                <li><a href="">Test Rule</a></li>
                <li><a href="">Duplicate</a></li>
                <li><a href="">Car</a></li>
                <li><a href="">Occupation</a></li>
                <li><a href="">Details Info</a></li>
                <li><a href="">SubPlans</a></li>
            </ul>
        </nav>

        <div class="clearfix" id="ruleList">

            <!-- left-side start -->
            <div class="left-side" >
                <input type="radio" value="1" id="radioActive" v-model="filterRuleByActive">
                <label for="radioActive">Active</label>
                <input type="radio" value="0" id="radioInActive" v-model="filterRuleByActive">
                <label for="radioInActive">InActive</label>
                <div class="rule-name-list">
                    <ul>
                        <li v-for="r in rules | filterBy filterRuleByActive in 'active' "
                            v-on:click="showRule(r , $event)"
                            v-bind:class="[rule.id == r.id ? 'active' : '']"
                            >{{r.rule_name}}</li>
                    </ul>
                </div>
            </div>
            <!-- left-side end -->


            <!-- right-side start -->
            <div class='right-side'>
                <fieldset>
                    <legend><button>Update</button></legend>
                    <h3>General Setting</h3>
                    <div class="editDiv">
                        <b>Rule Name</b> : <input type="text" v-model="rule.rule_name" value="{{rule.rule_name}}">
                    </div>
                    <div class="editDiv">
                        <b>Age</b> : <input type="text" v-model="rule.age_from" value="{{rule.age_from}}" style="width:30px">
                        - 
                        <input type="text" v-model="rule.age_to" value="{{rule.age_to}}" style="width:30px">
                    </div>
                    <div class="editDiv">
                        <b>DrivingExp</b> : <select v-model="rule.DrivingExp">
                            <option v-for="(key, val) in drivingExp"  value="{{key}}">{{val}}</option>
                        </select>
                    </div>
                    <div class="editDiv">
                        <b>Insurance</b> : <select v-model="rule.TypeofInsurance">
                            <option v-for="(key, val) in typeofInsurance"  value="{{key}}">{{val}}</option>
                        </select>
                    </div>
                    <div class="editDiv">
                        <b>Year of Mfg.</b> : <input type="text" v-model="rule.Yearofmanufacture_from" value="{{rule.Yearofmanufacture_from}}" style="width:30px"> - 
                        <input type="text" v-mode="rule.Yearofmanufacture" value="{{rule.Yearofmanufacture}}" style="width:30px">
                        <span style="font-size: 12px">{{yfgFrom}}-{{yfgTo}}</span>
                    </div>
                    <div class="editDiv">
                        <b>Motor Accident Years</b>:
                        <input id="rule-acy-rs-y" type="radio" value="1" v-model="rule.motor_accident_yrs">
                        <label for="rule-acy-rs-y">Yes</label>
                        <input id="rule-acy-rs-n" type="radio" value="0" v-model="rule.motor_accident_yrs">
                        <label for="rule-acy-rs-n">No</label>
                    </div>
                    <div class="editDiv">
                        <b>drive_offence_point</b>: 
                        <input id="rule-drive-off-pt-y" type="radio" value="1" v-model="rule.drive_offence_point">
                        <label for="rule-drive-off-pt-y">Yes</label>
                        <input id="rule-drive-off-pt-n" type="radio" value="0" v-model="rule.drive_offence_point">
                        <label for="rule-drive-off-pt-n">No</label>
                    </div>
                    <div class="editDiv">
                        <b>Active</b>: 
                        <input id="rule-active-y" type="radio" value="1" v-model="rule.active">
                        <label for="rule-active-pt-y">Yes</label>
                        <input id="rule-active-pt-n" type="radio" value="0" v-model="rule.active">
                        <label for="rule-active-n">No</label>
                    </div>
                    <div class="clearfix"></div>
                    <h3>Calculation</h3>
                    <div class="editDiv">
                        <b>Premium</b>  : <input type="text" v-model="rule.premium" value="{{rule.premium}}" style="width:80px" :disabled="disabled.p">
                    </div>
                    <div class="editDiv">
                        <b>Loading</b>  : <input type="text" v-model="rule.loading" value="{{rule.loading}}" style="width:30px">
                    </div>
                    <div class="editDiv">
                        <b>Other Discount</b>  : <input type="text" v-model="rule.otherDiscount" value="{{rule.otherDiscount}}" style="width:30px">
                    </div>
                    <div class="editDiv">
                        <b>Client Discount</b>  : <input type="text" v-model="rule.clientDiscount" value="{{rule.clientDiscount}}" style="width:30px">
                    </div>

                    <div class="editDiv">
                        <b>MIB</b>  : <input type="text" v-model="rule.mib" value="{{rule.mib}}" style="width:30px">
                    </div>
                    <div class="editDiv">
                        <b>Commission</b>  : <input type="text" v-model="rule.commission" value="{{rule.commission}}" style="width:30px">
                    </div>
                    <div class="editDiv">
                        <b>A2</b>  : <input type="text" v-model="rule.a2" value="{{rule.a2}}" style="width:30px" :disabled="disabled.a2">
                    </div>
                    <div class="editDiv">
                        <b>A3</b>  : <input type="text" v-model="rule.a3" value="{{rule.a3}}" style="width:30px" :disabled="disabled.a3">
                    </div>
                </fieldset>

                <fieldset>
                    <legend><button>Update</button></legend>
                    <table border="1" cellspacing="5" cellpadding="3">
                        <tr>
                            <td>NCD</td>    
                            <td>Active</td>
                            <td>Price Add</td>
                            <td>Gross</td>
                            <td>MIB</td>
                            <td>Net w Tax</td>
                            <td>Offer</td>
                        </tr>
                        <tr v-for="n in ruleNCD">
                            <td>{{n.ncd}}</td>    
                            <td><input id="rule-n-ncd-y" type="radio" value="1" v-model="n.active">
                                <label for="rule-n-ncd-y">Yes</label>
                                <input id="rule-n-ncd-n" type="radio" value="0" v-model="n.active">
                                <label for="rule-n-ncd-n">No</label>
                            </td>
                            <td><input type="text" v-model="n.price_add" style="width:100px"></td>
                            <td>{{n.gross}}</td>
                            <td>{{n.mibValue}}</td>
                            <td>{{n.price}}</td>
                            <td>{{n.total_price}}</td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset>
                    <legend>Make/Model</legend>
                    
                    <div class="left-side">
                    <select multiple="multiple" v-model="filterModel" style="height:350px;width:90%">
                        <option v-for="rcMake in ruleCarMake | orderBy 'makeText'" 
                                value="{{rcMake.makeText}}" >{{rcMake.makeText}}</option>
                    </select>
                    </div>
                    <div class="right-side">
                        <ul class='list-style'>
                            <li v-for="rcModel in ruleCarModel | filterBy filterModel in 'makeText'" >
                                {{rcModel.makeText}} - {{rcModel.modelText}}
                                <span style='color:red'>X</span>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                
                <fieldset>
                    <legend>Occupation</legend>
                    
                    <b>Search :</b><input type="text"v-model="filterOcc">
                    
                    
                        <ul class='list-style'>
                            <li v-for="ro in ruleOcc | filterBy filterOcc in 'occupation'" 
                                style="width:320px">
                                <span style='color:red;float:right;margin-right:20px;height:40px;'>X</span>
                                <div style="width:300px">{{ro.occupation}}</div>
                                
                            </li>
                        </ul>
                    
                </fieldset>

            </div>



            <!-- right-side end -->

        </div>

        <div style="height:50px;"></div>

        <script src="js/vue.min.js" type="text/javascript"></script>
        <script src="js/axios.min.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
    </body>
</html>
