<fieldset v-show="currentTab=='makeModel'"  style="display:none">
    <legend>Make/Model</legend>

    <p>
        <select v-model="filterModel" style="">
            <option value="all">All</option>
            <!--<option v-for="rcMake in ruleCarMake | orderBy 'makeText'" :value="rcMake.makeText">{{rcMake.makeText}}</option>-->
            <option v-for="rcMake in ruleCarMake" :value="rcMake.makeText">{{rcMake.makeText}}</option>
        </select>
    </p>
    
    <div >
        <ul class='list-style'>
            <!--<li v-for="rcModel in ruleCarModel | filterBy filterModel in 'makeText'">-->
            <li v-for="rcModel in ruleCarModelFilterList">
                {{rcModel.makeText}} - {{rcModel.modelText}}
                <span style='color:red' v-on:click="removeRuleModel(rcModel)">X</span>
            </li>
        </ul>
    </div>
</fieldset>
